body{ /*styling by tag*/
	font-family: Roboto;
}

a{
	color: black;
	text-decoration: none;
}

#menu, #subMenu{ /*styling by id*/
	list-style-type: none;
}

#menu{
	width: 80%;
	display: inline;
}

#subMenu{
	padding: 0;
}

.link{
	display: inline;
	margin-right: 20px;
}

#title{
	display: inline;
}

.link a{ /*styling by class*/
	transition: 0.5s background-color;
	font-family: Roboto Mono;
}

.link a:hover{
	color: white;
	background-color: black;
}

#image{
	height: 10rem;
}

#calendar{
	border: 1px solid black;
	width: 80%;
	height: 80%;
	border-collapse: collapse;
}

#calendar tr{
	border: 1px solid black;
}

#calendar tr td, #calendar tr th{
	border: 1px solid black;
	width: 100px;
}

#calendar tr td{
	text-align: right;
	vertical-align: top;
	padding: 5px;
}

#calendar tr th{
	height: 50px;
}

/*comment
line
line
*/


